<body>
    <div class="container">
          <h1>Nuevo Estudiante</h1> 
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
          
             <mat-form-field appearance="outline" class="full-width">
                <mat-label>Estudiante</mat-label>
                <input required [matAutocomplete]="auto" matInput formControlName="carnet">  
                <mat-autocomplete #auto="matAutocomplete"  [displayWith]="displayFn.bind(this)"> <!--[displayWith]="displayFn.bind(this)"-->
                  <mat-option *ngFor="let est of estudiantesFiltro | async" [value]="est.carnet">
                    <span>{{est.nombre_completo}}</span> |
                    <small>CI: {{est.carnet}}</small>
                  </mat-option>
                </mat-autocomplete>            
                <mat-error class="error" *ngIf="isSubmitted && myForm.get('carnet')!.invalid">
                  Este campo es <strong>obligatorio</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Materia</mat-label>
                <input [matAutocomplete]="mat" required matInput formControlName="id_materia"> <!--type="number"-->
                <mat-autocomplete #mat="matAutocomplete"  [displayWith]="displayMat.bind(this)"> <!--[displayWith]="displayFn.bind(this)"-->
                  <mat-option *ngFor="let mat of materiasFiltro | async" [value]="mat.id">
                    <span>{{mat.nombre}}</span> |
                    <small>Sigla: {{mat.sigla}}</small>
                  </mat-option>
                </mat-autocomplete>
                <mat-error class="error" *ngIf="isSubmitted && myForm.get('id_materia')!.invalid">
                  Este campo es <strong>obligatorio</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Fecha de Inscripcion</mat-label>
                <input matInput required [matDatepicker]="picker" formControlName="fecha_inscripcion">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error class="error" *ngIf="isSubmitted && myForm.get('fecha_inscripcion')!.invalid">
                    Este campo es <strong>obligatorio</strong>
                </mat-error>
              </mat-form-field>
              
   
              <br>
          
          <button mat-raised-button color="primary" type="submit" [disabled]="!myForm.valid" >Send</button>
        </form>
      </div>
      <mat-error class="error" *ngIf="notNumber"><strong> Debe seleccionar una de las opciones en los campos*</strong></mat-error>
</body>
     